.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
	font-weight:bold;
}

.accordion:hover {
    background-color: #2096cd;
	color:#fff;
	font-weight:bold;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.expand-collapse-section .active:after {
    content: "\2212";
	 background-color: #eee;
    color: #444;
}

.panel {
    padding: 0 10px;
    background-color: white;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.inner-page .competitions .panel {
    img {
        float: left !important;
        margin: 5px !important;
        padding: 0 20px 15px 0 !important;;
        width: 50% !important;;
        height: 50% !important;;
    }
	
	.tutorials-authors{
		color: #068da9 !important;
		font-size: 13px !important;
		font-weight:bold;
		text-align:left;
		margin-bottom: 2px;
	}
	
	.tutorials-schedule {
	    font-size:12px !important;
		text-align: left !important;
		font-weight: bold !important;
		color:#d01e1e !important;
	}

}


/* The below styles is for the Latest News page */
@charset "utf-8";
/* CSS Document */
.mb-4{
color:  #068da9 !important;
}
.text-end {
    text-align: justify !important; 
}

 .plenary-sessions{
    width: 100%;
    height: 60px;
    background: #2096cd !important;
    position: relative;
    border: solid 2px #2096cd;
    overflow: hidden;
	
}

.plenary-sessions-header {
   padding:10px 0 !important;
}

.plenary-sessions-header {
   padding:10px 0 !important;
}


.plenary-sessions-main {
  img {
		margin: 5px;
		/*padding: 0 20px 15px 0; */
		width:250px; /* !important; */
		height:250px; /* !important; */
		border-radius: 50% !important;
	}
}

.plenary-title {
   color: #068da9 !important;
    font-size: 13px !important;
	font-weight: bold;
    text-align: center !important;
	margin-bottom: 2px !important;
}

.plenary-names {
   text-align: center !important;
}
.plenary-names a {
	font-size:14px !important;
	color: #d01e1e !important;
	font-weight: bold !important;
}

.plenary-institution {
    font-size:13px !important;
	text-align: center !important;
	font-weight: bold !important;
}

.plenary-schedule {
	font-size:12px !important;
	text-align: center !important;
	font-weight: bold !important;
	color:#eb5d1e !important;
}
.plenary-main-page {
	img {
	    width:250px !important;
		height:250px !important;
		border-radius: 50% !important;
	}
}
.plenary-main-description p, h4{
   text-align:left !important;
}

.plenary-main-description .plenary-title{
	font-size:18px !important;
	color: #d01e1e !important;
	font-weight: bold !important;
	color: #068da9 !important;
}

.plenary-main-description .plenary-names a {
	font-size:15px !important;
	color: #d01e1e !important;
	font-weight: bold !important;
}
.plenary-main-description .plenary-names {
   text-align: left !important;
}

.plenary-main-description .plenary-institution {
    font-size:15px !important;
}


.breakingNews{width:100%; height:60px; background:#FFF; position:relative; border:solid 2px #2096cd; overflow:hidden;}
.breakingNews>.bn-title{width:auto; height:60px; display:inline-block; background:#2096cd; position:relative;}
.breakingNews>.bn-title>h2{display:inline-block; margin:0; padding:0 20px; line-height:60px; font-size:20px; color:#FFF; height:40px; box-sizing:border-box;font-weight:bold;}
.breakingNews>.bn-title>span{width: 0;position:absolute;right:-10px;top:20px;height: 0;border-style: solid;border-width: 10px 0 10px 10px;border-color: transparent transparent transparent #2096cd;}
.breakingNews>.bn-title>h2>a {color:#FFF !important;}

.breakingNews>ul{padding:0; margin:0; list-style:none; position:absolute; left:210px; top:0; right:40px; height:60px; font-size:16px;}
.breakingNews>ul>li{position:absolute; height:60px; width:100%; line-height:60px; display:none;}
.breakingNews>ul>li>a{text-decoration:none; color:#eb5d1e; overflow:hidden; display:block; white-space: nowrap;text-overflow: ellipsis; font-weight:bold;}
.breakingNews>ul>li>a>span{color:#2096cd;}
.breakingNews>ul>li>a:hover{color:#2096cd;}

.breakingNews>.bn-navi{width:40px; height:60px; position:absolute; right:0; top:0; opacity:0;}
.breakingNews>.bn-navi>span{width:20px; height:60px; position:absolute; top:0; cursor:pointer; opacity:0.3; background-image:url(../img/bn-arrows.png); background-repeat:no-repeat;}
.breakingNews>.bn-navi>span:hover{opacity:1;}
.breakingNews>.bn-navi>span:first-child{background-position:left center; left:0;}
.breakingNews>.bn-navi>span:last-child{background-position:right center; right:0;}
.breakingNews:hover .bn-navi{opacity:1;}

.bn-large{height:50px;}
.bn-large>.bn-title{height:50px;}
.bn-large>.bn-title>h2{line-height:50px; font-size:26px;}
.bn-large>.bn-title>span{top:15px;}
.bn-large>ul{height:50px; left:250px; font-size:20px;}
.bn-large>ul>li{height:50px; line-height:50px;}
.bn-large>.bn-navi{height:50px; }
.bn-large>.bn-navi>span{height:50px;}

.bn-small{height:30px;}
.bn-small>.bn-title{height:30px;}
.bn-small>.bn-title>h2{line-height:30px; font-size:18px;}
.bn-small>.bn-title>span{top:5px;}
.bn-small>ul{height:30px; left:200px; font-size:14px;}
.bn-small>ul>li{height:30px; line-height:30px;}
.bn-small>.bn-navi{height:30px; }
.bn-small>.bn-navi>span{height:30px;}

/*color styles -----------------------------*/
.bn-red{border-color:#f44a56;}
.bn-red>.bn-title{background:#f44a56;}
.bn-red>.bn-title>span{border-left-color:#f44a56;}
.bn-red>ul>li>a:hover,.bn-red>ul>li>a>span{color:#f44a56;}

.bn-green{border-color:#27ae60;}
.bn-green>.bn-title{background:#27ae60;}
.bn-green>.bn-title>span{border-left-color:#27ae60;}
.bn-green>ul>li>a:hover,.bn-green>ul>li>a>span{color:#27ae60;}

.bn-purple{border-color:#795aac;}
.bn-purple>.bn-title{background:#795aac;}
.bn-purple>.bn-title>span{border-left-color:#795aac;}
.bn-purple>ul>li>a:hover,.bn-purple>ul>li>a>span{color:#795aac;}

.bn-turquoise{border-color:#1fb5ad;}
.bn-turquoise>.bn-title{background:#1fb5ad;}
.bn-turquoise>.bn-title>span{border-left-color:#1fb5ad;}
.bn-turquoise>ul>li>a:hover,.bn-turquoise>ul>li>a>span{color:#1fb5ad;}

.bn-orange{border-color:#f46e27;}
.bn-orange>.bn-title{background:#f46e27;}
.bn-orange>.bn-title>span{border-left-color:#f46e27;}
.bn-orange>ul>li>a:hover,.bn-orange>ul>li>a>span{color:#f46e27;}

.bn-black{border-color:#333;}
.bn-black>.bn-title{background:#333;}
.bn-black>.bn-title>span{border-left-color:#333;}
.bn-black>ul>li>a:hover,.bn-black>ul>li>a>span{color:#333;}

.bn-yellow{border-color:#d3ac23;}
.bn-yellow>.bn-title{background:#d3ac23;}
.bn-yellow>.bn-title>span{border-left-color:#d3ac23;}
.bn-yellow>ul>li>a:hover,.bn-yellow>ul>li>a>span{color:#d3ac23;}

.bn-light{border-color:#DDD;}
.bn-light>.bn-title{background:#DDD;}
.bn-light>.bn-title>h2{color:#333;}
.bn-light>.bn-title>span{border-left-color:#DDD;}
.bn-light>ul>li>a:hover,.bn-light>ul>li>a>span{color:#DDD;}

.bn-pink{border-color:#d65aac;}
.bn-pink>.bn-title{background:#d65aac;}
.bn-pink>.bn-title>span{border-left-color:#d65aac;}
.bn-pink>ul>li>a:hover,.bn-pink>ul>li>a>span{color:#d65aac;}

.bn-darkred{border-color:#d01e1e;}
.bn-darkred>.bn-title{background:#d01e1e;}
.bn-darkred>.bn-title>span{border-left-color:#d01e1e;}
.bn-darkred>ul>li>a:hover,.bn-darkred>ul>li>a>span{color:#d01e1e;}

.bn-bordernone{border:sold 1px #f44a56;}
.bn-italic>ul>li>a{font-style:italic;}
.bn-bold>ul>li>a{font-weight:bold;}

.breakingNews>.bn-navi,
.breakingNews>ul>li>a,
.breakingNews>.bn-navi>span{transition: .25s linear;-moz-transition: .25s linear;-webkit-transition: .25s linear;}
